:root{
    --color-gris: #e8f1f9;
}

@font-face {
    font-family: 'Hind Vadodara';
    src: url('fonts/HindVadodara-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Hind Vadodara';
    src: url('fonts/HindVadodara-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Hind Vadodara';
    src: url('fonts/HindVadodara-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Hind Vadodara';
    src: url('fonts/HindVadodara-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Hind Vadodara';
    src: url('fonts/HindVadodara-Bold.ttf') format('truetype');
    font-weight: 700;
}

body {
    font-family: 'Hind Vadodara', sans-serif;
}
.fondo{
    background-color: var(--color-gris);
}
.imgPerfil{
    width: 135px;
}

.imgGrafics{
    width: 260px;
}

