body{
    font-family: "inter", sans-serif;
}

.imgPerfil{
    width: 65px;
}

.bg-gris {
    background-color: #d1d5db;
}

.bg-morat {
    background-color: #47488e;
}

.bg_menu_lateral, .menu_lateral {
    background-color: #1e293b;
}


.list-group-item-action:hover {
    background-color: #47488e !important;
}

.seleccionat {
    background-color: #47488e !important;
    border-left: 5px solid #a5b4fc !important;
    padding-left: 0.8em;
}

.filtre{
    background-color: #bcd0ea !important;
}

.entrar:hover {
    background-color: #37376b !important;
}