:root{
    --color-gris: #e8f1f9;
    --color-negre: #23282d;
    --color-roig: #ff0000;
    --color-sidebar: #e8eaed;
    -color-lletra-sidebar: #53575b;
}

@font-face {
    font-family: 'Hind Vadodara';
    src: url('./Fonts/HindVadodara-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Hind Vadodara';
    src: url('./Fonts/HindVadodara-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Hind Vadodara';
    src: url('./Fonts/HindVadodara-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Hind Vadodara';
    src: url('./Fonts/HindVadodara-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Hind Vadodara';
    src: url('./Fonts/HindVadodara-Bold.ttf') format('truetype');
    font-weight: 700;
}

body {
    font-family: 'Hind Vadodara', sans-serif;
}
.fondo{
    background-color: var(--color-gris);
}
.imgPerfil{
    width: 135px;
}

.imgGrafics{
    width: 280px;
}

.imgDesplegable{
    width: 160px
}

.textActivitat{
    font-size: 12px;
}

.textActivitat2{
    font-size: 14px;
}

.fonsSidebar{
    background-color: var(--color-negre);
    color: var(--color-gris);
}

.fonsSidebarActive{
    color: var(--color-lletra-sidebar);
    background-color: var(--color-sidebar);
}

.fonsSidebar:hover{
    color: var(--color-lletra-sidebar);
    background-color: var(--color-sidebar);
    
}

.iconaPlay{
    font-size: 80px;
}

.iconaPlay:hover{
    font-size: 120px;
    color: var(--color-roig);
}


/* Afegir al final de style.css */
.imgPerfilSm {
    width: 48px;
}
 
